* {
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
}
/* regole bg */

.ms_blue-bg {
    background-color: #2c3e50; 
}

.ms_green-bg {
    background-color: #1abc9c;
}

.ms_light-blue-bg {
    background-color: #3a546d;
}

/* regole stellina */
.star-line {
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
}

.star-line-white {
    background-color: #fff;
}

.star-line-blue {
    background-color: #2c3e50;
}

.fa-star {
    font-size: 2rem;
}

.fa-star-blue {
    color: #2c3e50;
}
/* regole nav */

header nav {
    height: 60px;
}

header nav ul {
    list-style: none;
    gap: 2rem;
}

/* regole jumbotron */
#jumbotron {
    padding-top: 80px;
}
#ms_avatar-container {
    width: 200px;
    margin: 0 auto;
}

#ms_avatar-image {
    max-width: 100%;
}

/* regole portfolio */
.ms_image-container {
    width: 100%;
    display: block;
    position: relative;
}

.ms_card {
    border-radius: 2em;
}

.ms_image-selected {
    display: none;
    position: absolute;
    border-radius: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1abc9c5b;
}

.fa-plus {
    position: absolute;
    color: #fff;
    font-size: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ms_image-container:hover .ms_image-selected {
    display: block;
}
/* regole contact me */
.ms_form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ced4da;
}

.ms_btn-green {
    background-color: #1abc9c;
    color: #fff;
    font-weight: 600;
}

.btn:hover {
    background-color: #fff;
    border: 1px solid #1abc9c;
    color: #1abc9c;   
}

/* regole footer */
.ms_text-green {
    color: #1abc9c;
}

.brand-container {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1em;
    border-radius: 50%;
    border: 1px solid #fff;
}

footer .fa-brands {
    transform: translate(-25%, -50%);
}